# EDA BIOMETRICO

In [17]:
import pandas as pd
import datetime as dt
import numpy as np
import locale
import holidays

In [18]:
# --- Configurar los d칤as festivos para Colombia para 2025:
co_holidays = holidays.CountryHoliday('CO', years=[2025])

In [19]:
ruta ="dataset/produccion09.xls"
df_cota = pd.read_excel(ruta)
a침o = 2025
mes = 9

WARNING *** file size (2342890) not 512 + multiple of sector size (512)

### BD info produccion

In [20]:
ruta2 ="empleados/info producci쑕.xlsx"
df_empleados = pd.read_excel(ruta2)

In [21]:
df_cota.isnull().sum()

Tiempo                  0
ID de Usuario        1434
Nombre               1434
Apellido             1600
N칰mero de tarjeta    6777
Dispositivo             0
Punto del evento        0
Verificaci칩n            0
Estado                  0
Evento                  0
Notas                6908
dtype: int64

### LIMPIEZA

In [22]:
# Manejar por buenas practicas titulos en minuscula y sin espacios en blanco
new_name =[] 
for column in df_cota.columns:
    minus = column.lower()
    replace = minus.replace(" ","_")
    new_name.append(replace)

df_cota.columns = new_name


df_cota.duplicated().sum()

np.int64(0)

In [23]:
#cambia el nombre de la columna de numero a ID del trabajador
df_cota.rename(columns={'n칰mero': 'id'}, inplace=True) 

df_cota["nombre_completo"] = df_cota["nombre"] +" "+df_cota["apellido"]

### MATCH TRABAJADORES BIOMETRICO

In [24]:
from fuzzywuzzy import process, fuzz
import pandas as pd
import unidecode

# ---- Funci칩n de normalizaci칩n ----
def limpiar_nombre(nombre):
    if pd.isna(nombre):
        return ""
    s = str(nombre).upper().strip()
    s = unidecode.unidecode(s)
    s = " ".join(s.split())
    return s

# ---- Normalizar columnas ----
df_cota['nombre_limpio']     = df_cota['nombre_completo'].apply(limpiar_nombre)
df_empleados['empleado_limpio'] = df_empleados['Empleado'].apply(limpiar_nombre)

# ---- Listas 칰nicas 칰tiles (sin cadenas vac칤as) ----
cotas_unique = [n for n in df_cota['nombre_limpio'].unique() if n and len(n) >= 3]
# Usamos el df_empleados tal cual para mantener Departamento y nombre original
THRESHOLD = 85  # ajustar si quieres m치s/menos estricto

# ---- Buscamos, por cada empleado oficial, su mejor match en df_cota ----
# Guardamos el mejor match por nombre_cota (para evitar duplicados incorrectos)
best_map = {}   # key = nombre_limpio (df_cota), value = dict(oficial, dept, score, empleado_limpio_oficial)

for _, row in df_empleados.iterrows():
    oficial_limpio = row['empleado_limpio']
    if not oficial_limpio:
        continue
    dept = row['Departamento']
    # buscar mejor match en cotas_unique usando token_set_ratio
    resultado = process.extractOne(oficial_limpio, cotas_unique, scorer=fuzz.token_set_ratio)
    if resultado:
        match_name, score = resultado[0], resultado[1]  # extractOne con lista devuelve (match, score)
        # solo consideramos si pasa el umbral
        if score >= THRESHOLD:
            prev = best_map.get(match_name)
            # si ya hay un candidato para ese nombre, quedarnos con el de mayor score
            if (prev is None) or (score > prev['score']):
                best_map[match_name] = {
                    'oficial': row['Empleado'],         # nombre oficial legible
                    'empleado_limpio_oficial': oficial_limpio,
                    'dept': dept,
                    'score': score
                }

# ---- Construir mapas y aplicarlos al df_cota ----
map_depto   = {k: v['dept']     for k, v in best_map.items()}
map_oficial = {k: v['oficial']  for k, v in best_map.items()}

df_cota['Departamento']    = df_cota['nombre_limpio'].map(map_depto)
df_cota['empleado_matched'] = df_cota['nombre_limpio'].map(map_oficial)

# ---- Informes r치pidos para diagnosticar ----
print("Oficiales (total):", df_empleados.shape[0])
print("Nombres 칰nicos en df_cota:", len(cotas_unique))
print("Nombres de df_cota asignados a oficiales:", len(map_depto))
print("Umbral usado (THRESHOLD):", THRESHOLD)

empleados_matcheados = sorted({v['empleado_limpio_oficial'] for v in best_map.values()})
empleados_sin_match = df_empleados[
    ~df_empleados['empleado_limpio'].isin(empleados_matcheados)
]['Empleado'].tolist()

print("Empleados oficiales sin match:", len(empleados_sin_match))
print(empleados_sin_match)

Oficiales (total): 37
Nombres 칰nicos en df_cota: 55
Nombres de df_cota asignados a oficiales: 35
Umbral usado (THRESHOLD): 85
Empleados oficiales sin match: 2
['ELKIN FABIAN DAZA PLAZAS', 'ESTEFANY ALVAREZ VILLANUEVA']

In [25]:
print(f"El numero de trabajadores unicos es de ",df_cota['nombre_limpio'].nunique())

El numero de trabajadores unicos es de  56

In [26]:
df_cota_produccion = df_cota[df_cota["Departamento"].isin(["DIRECCI칍N DE PLANTA","PRODUCCION","MANTENIMIENTO"])]

In [27]:
print(f"Numero de trabajadores unicos en planta",df_cota_produccion['nombre_limpio'].nunique())

Numero de trabajadores unicos en planta 35

### HORAS IDEALES DEL MES

In [28]:
import pandas as pd
import holidays

def horas_ideales_mes(year=2025, month=8):
    # Festivos de Colombia
    co_holidays = holidays.CountryHoliday("CO", years=[year])

    # Rango de d칤as del mes
    inicio = pd.Timestamp(year, month, 1)
    fin = inicio + pd.offsets.MonthEnd(0)
    dias = pd.date_range(inicio, fin, freq="D")

    total_horas = 0.0
    for d in dias:
        if d.weekday() <= 3 and d.date() not in co_holidays:   # Lunes-Jueves
            total_horas += 9.5
        elif d.weekday() == 4 and d.date() not in co_holidays: # Viernes
            total_horas += 8.5
        # s치bados, domingos y festivos = 0

    return round(total_horas, 2)

# Ejemplo: 
print(F"Esta la cantidad de horas reales esperadas para el mes",horas_ideales_mes(a침o, mes))
horas_del_mes = horas_ideales_mes(a침o, mes)

Esta la cantidad de horas reales esperadas para el mes 205.0

In [29]:
import pandas as pd
import numpy as np
from datetime import time, date
import holidays

def _is_holiday(d: date, holidays_obj) -> bool:
    if holidays_obj is None:
        return False
    try:
        return d in holidays_obj
    except Exception:
        return d in set(holidays_obj)

def horas_ideales_mes(year=2025, month=8, holidays_obj=None, treat_holidays_as_non_working=True):
    inicio = pd.Timestamp(year, month, 1)
    fin = inicio + pd.offsets.MonthEnd(0)
    dias = pd.date_range(inicio, fin, freq="D").date

    total = 0.0
    for d in dias:
        if d.weekday() <= 3:     # Lun-Jue
            jornada = 9.5
        elif d.weekday() == 4:   # Viernes
            jornada = 8.5
        else:
            jornada = 0.0

        if treat_holidays_as_non_working and _is_holiday(d, holidays_obj) and jornada > 0:
            continue
        total += jornada

    return round(total, 2)

def horas_trabajadas_diario_y_mensual(df, year=2025, month=8,
                                      restar_almuerzo=False, minutos_almuerzo=30,
                                      holidays_obj=None, treat_holidays_as_non_working=True,
                                      debug=False):
    dfx = df.copy()

    if not pd.api.types.is_datetime64_any_dtype(dfx['tiempo']):
        dfx['tiempo'] = pd.to_datetime(dfx['tiempo'], errors='coerce')

    dfx = dfx[dfx['tiempo'].notna()].copy()
    dfx = dfx[(dfx['tiempo'].dt.year == year) & (dfx['tiempo'].dt.month == month)]

    dfx['fecha'] = dfx['tiempo'].dt.date

    agg = (
        dfx.groupby(['nombre_limpio', 'fecha'], as_index=False)
        .agg(
            primera=('tiempo', 'min'),
            ultima=('tiempo', 'max'),
            marcaciones=('tiempo', 'count')
        )
    )

    dept_first = (
        dfx.sort_values(['nombre_limpio', 'fecha', 'tiempo'])
        .groupby(['nombre_limpio', 'fecha'], as_index=False)['Departamento']
        .first()
    )
    agg = agg.merge(dept_first, on=['nombre_limpio', 'fecha'], how='left')

    span_horas = (agg['ultima'] - agg['primera']).dt.total_seconds() / 3600.0
    span_horas = span_horas.where(agg['marcaciones'] >= 2, 0.0)

    if restar_almuerzo:
        span_horas = np.maximum(0.0, span_horas - (minutos_almuerzo / 60.0))

    agg['horas_trabajadas'] = span_horas

    hora_inicio = time(6, 40)
    agg['llegada'] = np.where(
        agg['primera'].isna(),
        "Sin marcaci칩n",
        np.where(agg['primera'].dt.time > hora_inicio, "Tarde", "A tiempo")
    )

    # Diario
    diario = agg.rename(columns={'nombre_limpio': 'empleado', 'fecha': 'fecha_dia'})[
        ['empleado', 'Departamento', 'fecha_dia', 'marcaciones', 'primera', 'ultima',
         'horas_trabajadas', 'llegada']
    ].copy()

    # Resumen mensual
    mensual = (
        diario.groupby(['empleado', 'Departamento'], as_index=False)
        .agg(
            horas_trabajadas_total=('horas_trabajadas', 'sum'),
            dias_con_registros=('fecha_dia', 'nunique')
        )
    )
    mensual['horas_trabajadas_total'] = mensual['horas_trabajadas_total'].round(2)

    horas_ideales_const = horas_ideales_mes(year, month, holidays_obj=holidays_obj,
                                           treat_holidays_as_non_working=treat_holidays_as_non_working)
    mensual['horas_ideales'] = horas_ideales_const

    #  Nuevo campo con el total de horas del mes
    mensual['horas_del_mes'] = horas_ideales_const

    mensual['cumplimiento'] = np.where(
        mensual['horas_trabajadas_total'] >= mensual['horas_ideales'], "S칤", "No"
    )

    mensual = mensual[['empleado', 'Departamento', 'horas_trabajadas_total',
                       'horas_ideales', 'cumplimiento', 'dias_con_registros']].sort_values('empleado')

    return diario, mensual, horas_ideales_const

In [30]:
diario, mensual, horas_ideales_mes = horas_trabajadas_diario_y_mensual(
    df_cota_produccion,
    year=a침o,
    month=mes,
    holidays_obj=co_holidays,           #festivos 游뻟릖
    treat_holidays_as_non_working=True, # True = los festivos no suman horas
    restar_almuerzo=False              # ponlo True si se quiere el tiempo real de trabajo que por ahora no
)

In [31]:
import xlsxwriter

year = a침o
month = mes

nombre_archivo = f"entregas/mes_produccion_{year}_{month:02d}.xlsx"
with pd.ExcelWriter(nombre_archivo, engine="xlsxwriter") as writer:
    # Guardar las dos hojas
    diario.to_excel(writer, sheet_name="Diario", index=False)
    mensual.to_excel(writer, sheet_name="Mensual", index=False)

    # === AQUI EMPIEZA EL FORMATO CONDICIONAL ===
    workbook = writer.book
    ws_mensual = writer.sheets["Mensual"]


    # Columnas clave
    col_cumplimiento = mensual.columns.get_loc("cumplimiento") + 1  # +1 por 칤ndice Excel
    col_dias = mensual.columns.get_loc("dias_con_registros") + 1

    ultima_fila = len(mensual) + 1  # +1 por el encabezado

In [32]:
diario

,empleado,Departamento,fecha_dia,marcaciones,primera,ultima,horas_trabajadas,llegada
0,ALEXANDER CAMACHO,PRODUCCION,2025-09-01,4,2025-09-01 06:33:59,2025-09-01 16:12:21,9.639444,A tiempo
1,ALEXANDER CAMACHO,PRODUCCION,2025-09-02,4,2025-09-02 06:31:32,2025-09-02 16:12:12,9.677778,A tiempo
2,ALEXANDER CAMACHO,PRODUCCION,2025-09-03,4,2025-09-03 06:30:10,2025-09-03 16:12:04,9.698333,A tiempo
3,ALEXANDER CAMACHO,PRODUCCION,2025-09-04,4,2025-09-04 06:29:41,2025-09-04 16:08:19,9.643889,A tiempo
4,ALEXANDER CAMACHO,PRODUCCION,2025-09-05,4,2025-09-05 06:32:26,2025-09-05 15:10:41,8.637500,A tiempo
...,...,...,...,...,...,...,...,...
750,ZORAIDA CHAPARRO ALVAREZ,PRODUCCION,2025-09-24,4,2025-09-24 06:31:30,2025-09-24 16:11:11,9.661389,A tiempo
751,ZORAIDA CHAPARRO ALVAREZ,PRODUCCION,2025-09-25,4,2025-09-25 06:36:45,2025-09-25 16:10:56,9.569722,A tiempo
752,ZORAIDA CHAPARRO ALVAREZ,PRODUCCION,2025-09-26,4,2025-09-26 06:35:32,2025-09-26 15:11:08,8.593333,A tiempo
753,ZORAIDA CHAPARRO ALVAREZ,PRODUCCION,2025-09-29,4,2025-09-29 06:34:18,2025-09-29 16:11:04,9.612778,A tiempo
754,ZORAIDA CHAPARRO ALVAREZ,PRODUCCION,2025-09-30,4,2025-09-30 06:39:42,2025-09-30 16:11:14,9.525556,A tiempo