In [2]:
import pandas as pd
import xmlrpc.client

In [3]:
import xmlrpc.client
import pandas as pd

# Conexin con Odoo
username = "juan.cano@donsson.com"  # tu usuario
password = "1000285668"         # tu contrasea
url = "https://donsson.com"     # URL del servidor
db = "Donsson_produccion" # nombre de la base de datos

common = xmlrpc.client.ServerProxy(f"{url}/xmlrpc/2/common")
uid = common.authenticate(db, username, password, {})
models = xmlrpc.client.ServerProxy(f"{url}/xmlrpc/2/object")




fields_info = models.execute_kw(
    db, uid, password,
    'account.invoice.report',  # Nombre tcnico del modelo
    'fields_get',
    []
)

# Convertir a DataFrame para visualizar mejor
df_campos = pd.DataFrame.from_dict(fields_info, orient='index')
df_campos

,sortable,string,searchable,required,manual,readonly,states,depends,groups,company_dependent,type,store,relation,digits,translate,size,selection,domain,help
date_due,True,Due Date,True,False,False,True,{},[],False,False,date,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
partner_bank_id,True,Bank Account,True,False,False,True,{},[],False,False,many2one,True,res.partner.bank,NaN,NaN,NaN,NaN,NaN,NaN
payment_term,True,Payment Term,True,False,False,True,{},[],False,False,many2one,True,account.payment.term,NaN,NaN,NaN,NaN,NaN,NaN
nbr,True,# of Invoices,True,False,False,True,{},[],False,False,integer,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
journal_id,True,Journal,True,False,False,True,{},[],False,False,many2one,True,account.journal,NaN,NaN,NaN,NaN,NaN,NaN
currency_id,True,Currency,True,False,False,True,{},[],False,False,many2one,True,res.currency,NaN,NaN,NaN,NaN,NaN,NaN
product_qty,True,Product Quantity,True,False,False,True,{},[],False,False,float,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_currency_price_average,False,Average Price,False,False,False,True,{},[],False,False,float,False,NaN,"[16, 2]",NaN,NaN,NaN,NaN,NaN
id,True,Id,True,False,False,True,{},[],False,False,integer,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
account_id,True,Account,True,False,False,True,{},[],False,False,many2one,True,account.account,NaN,NaN,NaN,NaN,NaN,NaN
uom_name,True,Reference Unit of Measure,True,False,False,True,{},[],False,False,char,True,NaN,NaN,False,128.0,NaN,NaN,NaN
fiscal_position,True,Fiscal Position,True,False,False,True,{},[],False,False,many2one,True,account.fiscal.position,NaN,NaN,NaN,NaN,NaN,NaN
user_id,True,Salesperson,True,False,False,True,{},[],False,False,many2one,True,res.users,NaN,NaN,NaN,NaN,NaN,NaN
__last_update,False,Last Modified on,False,False,False,True,{},[],False,False,datetime,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
partner_id,True,Partner,True,False,False,True,{},[],False,False,many2one,True,res.partner,NaN,NaN,NaN,NaN,NaN,NaN
product_cost,True,Total costo,True,False,False,True,{},[],donsson_credit_log_a_note.group_credit_level2,False,float,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country_id,True,Country of the Partner Company,True,False,False,True,{},[],False,False,many2one,True,res.country,NaN,NaN,NaN,NaN,NaN,NaN
company_id,True,Company,True,False,False,True,{},[],False,False,many2one,True,res.company,NaN,NaN,NaN,NaN,NaN,NaN
state,True,Invoice Status,True,False,False,True,{},[],False,False,selection,True,NaN,NaN,NaN,NaN,"[[draft, Draft], [proforma, Pro-forma], [profo...",NaN,NaN
type,True,Type,True,False,False,True,{},[],False,False,selection,True,NaN,NaN,NaN,NaN,"[[out_invoice, Customer Invoice], [in_invoice,...",NaN,NaN
product_class,True,Clase,True,False,False,True,{},[],False,False,many2one,True,product.type.class,NaN,NaN,NaN,NaN,NaN,NaN
price_average,True,Average Price,True,False,False,True,{},[],False,False,float,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
account_line_id,True,Account Line,True,False,False,True,{},[],False,False,many2one,True,account.account,NaN,NaN,NaN,NaN,NaN,NaN
residual,True,Total Residual,True,False,False,True,{},[],False,False,float,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
section_id,True,Sales Team,True,False,False,True,{},[],False,False,many2one,True,crm.case.section,NaN,NaN,NaN,NaN,NaN,NaN
period_id,True,Force Period,True,False,False,True,{},[],False,False,many2one,True,account.period,NaN,NaN,NaN,NaN,"[[state, <>, done]]",NaN
product_marca,True,Marca,True,False,False,True,{},[],False,False,char,True,NaN,NaN,False,NaN,NaN,NaN,NaN
currency_rate,True,Currency Rate,True,False,False,True,{},[],False,False,float,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date,True,Date,True,False,False,True,{},[],False,False,date,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
display_name,False,Display Name,False,False,False,True,{},[date],False,False,char,False,NaN,NaN,False,NaN,NaN,NaN,NaN
categ_id,True,Category of Product,True,False,False,True,{},[],False,False,many2one,True,product.category,NaN,NaN,NaN,NaN,NaN,NaN
price_total,True,Total Without Tax,True,False,False,True,{},[],False,False,float,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id,True,Product,True,False,False,True,{},[],False,False,many2one,True,product.product,NaN,NaN,NaN,NaN,NaN,NaN
user_currency_price_total,False,Total Without Tax,False,False,False,True,{},[],False,False,float,False,NaN,"[16, 2]",NaN,NaN,NaN,NaN,NaN
user_currency_residual,False,Total Residual,False,False,False,True,{},[],False,False,float,False,NaN,"[16, 2]",NaN,NaN,NaN,NaN,NaN
customer_type,True,Tipo de cliente,True,False,False,True,{},[],False,False,selection,True,NaN,NaN,NaN,NaN,"[[marketer, Retail], [final, Final], [distribu...",NaN,NaN
state_id,True,Ciudad,True,False,False,True,{},[],False,False,many2one,True,res.country.state,NaN,NaN,NaN,NaN,NaN,NaN
commercial_partner_id,True,Partner Company,True,False,False,True,{},[],False,False,many2one,True,res.partner,NaN,NaN,NaN,NaN,NaN,Commercial Entity
rentabilidad,True,Rentabilidad,True,False,False,True,{},[],donsson_credit_log_a_note.group_credit_level2,False,float,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import xmlrpc.client
import pandas as pd
from datetime import datetime
import os

# ---------------- Conexin ----------------
username = "juan.cano@donsson.com"
password = "1000285668"
url = "https://donsson.com"
db = "Donsson_produccion"

common = xmlrpc.client.ServerProxy(f"{url}/xmlrpc/2/common")
uid = common.authenticate(db, username, password, {})
models = xmlrpc.client.ServerProxy(f"{url}/xmlrpc/2/object")

# ---------------- Campos a extraer ----------------
campos = [
    'product_marca',
    'product_cost',
    'price_total',
    'date'
]

# ---------------- Carpeta de salida ----------------
output_dir = "/home/donsson/proyectos/SIMON/exports"
os.makedirs(output_dir, exist_ok=True)

# ---------------- Rango de aos ----------------
start_year = 2020
end_year   = datetime.now().year   # hasta hoy
batch_size = 20000   # bloques grandes = menos llamadas

for year in range(start_year, end_year + 1):
    print(f"\n Extrayendo registros del ao {year}...")

    # Dominio filtrando solo el ao
    domain = [
        ['date', '>=', f"{year}-01-01"],
        ['date', '<=', f"{year}-12-31"],
        ['state', '=', 'paid']
    ]

    # Saber cuntos registros hay en ese ao
    total = models.execute_kw(
        db, uid, password,
        'account.invoice.report', 'search_count',
        [domain]
    )
    print(f"   Total de registros en {year}: {total}")

    if total == 0:
        print(f" No haba registros en {year}")
        continue

    # Acumulador en lista (ms rpido que concatenar en cada ciclo)
    registros_list = []
    offset = 0

    while offset < total:
        print(f"   Descargando lote desde offset {offset}...")
        registros = models.execute_kw(
            db, uid, password,
            'account.invoice.report', 'search_read',
            [domain],
            {'fields': campos, 'limit': batch_size, 'offset': offset}
        )
        registros_list.extend(registros)  # agregamos a la lista
        offset += batch_size

    # Convertir a DataFrame una sola vez
    df_year = pd.DataFrame(registros_list)

    # Guardar Excel
    timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")
    filename = os.path.join(output_dir, f"facturas_pagadas_{year}_{timestamp}.xlsx")
    df_year.to_excel(filename, index=False)
    print(f" Archivo generado: {filename} ({len(df_year)} registros)")

 Extrayendo registros del ao 2020...
   Total de registros en 2020: 124820
   Descargando lote desde offset 0...
   Descargando lote desde offset 20000...
   Descargando lote desde offset 40000...
   Descargando lote desde offset 60000...
   Descargando lote desde offset 80000...
   Descargando lote desde offset 100000...
   Descargando lote desde offset 120000...
 Archivo generado: /home/donsson/proyectos/SIMON/exports/facturas_pagadas_2020_20250923_101959.xlsx (124820 registros)

 Extrayendo registros del ao 2021...
   Total de registros en 2021: 153867
   Descargando lote desde offset 0...
   Descargando lote desde offset 20000...
   Descargando lote desde offset 40000...
   Descargando lote desde offset 60000...
   Descargando lote desde offset 80000...
   Descargando lote desde offset 100000...
   Descargando lote desde offset 120000...
   Descargando lote desde offset 140000...
 Archivo generado: /home/donsson/proyectos/SIMON/exports/facturas_pagadas_2021_20250923_110519.xlsx (153867 registros)

 Extrayendo registros del ao 2022...
   Total de registros en 2022: 145067
   Descargando lote desde offset 0...
   Descargando lote desde offset 20000...
   Descargando lote desde offset 40000...
   Descargando lote desde offset 60000...

In [14]:
df_total.head(30)

          date  price_total  product_cost       id product_marca
0   2025-09-22      60200.0      21847.84  1619355       DONSSON
1   2025-09-22      70200.0      46625.18  1619231       BALDWIN
2   2025-09-22      82100.0      55892.34  1618763       BALDWIN
3   2025-09-22      54600.0      37345.78  1618660       BALDWIN
4   2025-09-22      70700.0      24977.50  1618975       DONSSON
5   2025-09-22      54400.0      19836.00  1619138     AUT*PARTS
6   2025-09-22      61600.0      41400.60  1619322       BALDWIN
7   2025-09-22      53800.0      13845.12  1619196       DONSSON
8   2025-09-22     175800.0      80492.78  1618621       DONSSON
9   2025-09-22      83200.0      51875.42  1619407       BALDWIN
10  2025-09-22      93400.0      61456.11  1618945       BALDWIN
11  2025-09-22      60900.0      40450.42  1619083       BALDWIN
12  2025-09-22     710400.0     337753.08  1619002       DONSSON
13  2025-09-22      60900.0      40450.42  1618759       BALDWIN
14  2025-09-22      44800.0      13281.70  1618813     AUT*PARTS
15  2025-09-22      56400.0      44010.51  1619507       BALDWIN
16  2025-09-22      36800.0      24751.16  1618839       BALDWIN
17  2025-09-22      99200.0      36219.16  1618640       DONSSON
18  2025-09-22      54000.0      32519.51  1618891  RACOR BRASIL
19  2025-09-22      35100.0      23312.59  1618651       BALDWIN
20  2025-09-22      78800.0      43956.00  1619038     AUT*PARTS
21  2025-09-22     781500.0     606960.06  1619511       BALDWIN
22  2025-09-22     104400.0      39754.24  1618628       DONSSON
23  2025-09-22      37300.0       9595.17  1619142     AUT*PARTS
24  2025-09-22      33500.0      22349.73  1618757       BALDWIN
25  2025-09-22      58700.0      26466.70  1618987       DONSSON
26  2025-09-22     252000.0     109166.88  1618834       DONSSON
27  2025-09-22      73200.0      38838.48  1619312     AUT*PARTS
28  2025-09-22      30700.0      20638.72  1618965       BALDWIN
29  2025-09-22     145200.0     113370.78  1618607       BALDWIN