In [1]:
import xmlrpc.client
from datetime import date, timedelta
import pandas as pd

# Mostrar todas las columnas
pd.set_option('display.max_columns', None)

# Mostrar todas las filas (si quieres limitarlo, usa por ejemplo 200)
pd.set_option('display.max_rows', None)

# Ampliar el ancho de cada columna para ver bien el texto
pd.set_option('display.max_colwidth', None)

# Ajustar el ancho de la tabla en consola
pd.set_option('display.width', 0)
# ===============================
# 1. Conexi√≥n con Odoo
# ===============================

ODOO_URL = "https://www.donssonusa.com"   # üëà IMPORTANTE: con https://
ODOO_DB = "donsson-filters-florida-llc"       # Nombre de la base
ODOO_USERNAME = "gbetancourt@donsson.com"
ODOO_PASSWORD = "DonssonFloridaCol"

# Autenticaci√≥n
common = xmlrpc.client.ServerProxy(f"{ODOO_URL}/xmlrpc/2/common")
uid = common.authenticate(ODOO_DB, ODOO_USERNAME, ODOO_PASSWORD, {})

if not uid:
    print("‚ùå Error de autenticaci√≥n. Verifica tus credenciales o el nombre de la base.")
    exit()
else:
    print(f"‚úÖ Conectado correctamente. UID: {uid}")

# Crear conexi√≥n a modelos
models = xmlrpc.client.ServerProxy(f"{ODOO_URL}/xmlrpc/2/object")

‚úÖ Conectado correctamente. UID: 6

In [2]:
import xmlrpc.client

ODOO_URL = "https://www.donssonusa.com"
ODOO_DB = "donsson-filters-florida-llc"
ODOO_USERNAME = "gbetancourt@donsson.com"
ODOO_PASSWORD = "DonssonFloridaCol"

# Conexi√≥n
common = xmlrpc.client.ServerProxy(f"{ODOO_URL}/xmlrpc/2/common")
uid = common.authenticate(ODOO_DB, ODOO_USERNAME, ODOO_PASSWORD, {})
models = xmlrpc.client.ServerProxy(f"{ODOO_URL}/xmlrpc/2/object")

# Ver campos disponibles de un modelo (por ejemplo, productos)
fields = models.execute_kw(
    ODOO_DB, uid, ODOO_PASSWORD,
    'product.template', 'fields_get',
    [], {'attributes': ['string', 'type', 'required']}
)

for field, info in sorted(fields.items(), key=lambda x: x[1].get("string", "")):
    print(f"{field:40} | {info.get('type', ''):10} | {info.get('string', '')}")

bom_count                                | integer    | # Bill of Material
product_variant_count                    | integer    | # Product Variants
used_in_bom_count                        | integer    | # of BoM Where is Used
accessory_product_ids                    | many2many  | Accessory Products
account_tag_ids                          | many2many  | Account Tags
message_needaction                       | boolean    | Action Needed
active                                   | boolean    | Active
activity_ids                             | one2many   | Activities
activity_exception_decoration            | selection  | Activity Exception Decoration
activity_state                           | selection  | Activity State
activity_type_icon                       | char       | Activity Type Icon
ebay_best_offer                          | boolean    | Allow Best Offer
alternative_product_ids                  | many2many  | Alternative Products
x_studio_applications                    | text       | Applications
message_attachment_count                 | integer    | Attachment Count
rating_avg                               | float      | Average Rating
barcode                                  | char       | Barcode
base_unit_count                          | float      | Base Unit Count
base_unit_name                           | char       | Base Unit Name
bom_ids                                  | one2many   | Bill of Materials
bom_line_ids                             | one2many   | BoM Components
ebay_buy_it_now_price                    | float      | Buy It Now Price
can_image_1024_be_zoomed                 | boolean    | Can Image 1024 be zoomed
can_publish                              | boolean    | Can Publish
purchase_ok                              | boolean    | Can be Purchased
sale_ok                                  | boolean    | Can be Sold
x_studio_catalog_code                    | char       | Catalog code
ebay_category_id                         | many2one   | Category
ebay_category_2_id                       | many2one   | Category 2 (Optional)
route_from_categ_ids                     | many2many  | Category Routes
color                                    | integer    | Color Index
company_id                               | many2one   | Company
compare_list_price                       | monetary   | Compare to Price
allow_out_of_stock_order                 | boolean    | Continue selling when out-of-stock
purchase_method                          | selection  | Control Policy
standard_price                           | float      | Cost
cost_currency_id                         | many2one   | Cost Currency
cost_method                              | selection  | Costing Method
create_uid                               | many2one   | Created by
create_date                              | datetime   | Created on
x_studio_cross_reference                 | text       | Cross reference
currency_id                              | many2one   | Currency
base_unit_id                             | many2one   | Custom Unit of Measure
sale_delay                               | integer    | Customer Lead Time
taxes_id                                 | many2many  | Customer Taxes
split_method_landed_cost                 | selection  | Default Split Method
description                              | html       | Description
ebay_template_id                         | many2one   | Description Template
website_description                      | html       | Description for the website
description_pickingout                   | text       | Description on Delivery Orders
description_picking                      | text       | Description on Picking
description_pickingin                    | text       | Description on Receptions
display_name                             | char       | Display Name
product_document_ids                     | one2many   | Documents
product_document_count                   | integer    | Documents Count
ebay_listing_duration                    | selection  | Duration
property_account_expense_id              | many2one   | Expense Account
product_template_image_ids               | one2many   | Extra Product Media
priority                                 | selection  | Favorite
fiscal_country_codes                     | char       | Fiscal Country Codes
message_follower_ids                     | one2many   | Followers
message_partner_ids                      | many2many  | Followers (Partners)
virtual_available                        | float      | Forecasted Quantity
hs_code                                  | char       | HS Code
has_message                              | boolean    | Has Message
id                                       | integer    | ID
activity_exception_icon                  | char       | Icon
image_1920                               | binary     | Image
image_1024                               | binary     | Image 1024
image_128                                | binary     | Image 128
image_256                                | binary     | Image 256
image_512                                | binary     | Image 512
property_account_income_id               | many2one   | Income Account
incoming_qty                             | float      | Incoming
default_code                             | char       | Internal Reference
property_stock_inventory                 | many2one   | Inventory Location
valuation                                | selection  | Inventory Valuation
invoice_policy                           | selection  | Invoicing Policy
message_is_follower                      | boolean    | Is Follower
is_kits                                  | boolean    | Is Kits
is_published                             | boolean    | Is Published
landed_cost_ok                           | boolean    | Is a Landed Cost
has_configurable_attributes              | boolean    | Is a configurable product
is_product_variant                       | boolean    | Is a product variant
ebay_item_condition_id                   | many2one   | Item Condition
write_uid                                | many2one   | Last Updated by
write_date                               | datetime   | Last Updated on
ebay_last_sync                           | datetime   | Last update
ebay_listing_type                        | selection  | Listing Type
location_id                              | many2one   | Location
mrp_product_qty                          | float      | Manufactured
message_has_error                        | boolean    | Message Delivery error
purchase_line_warn_msg                   | text       | Message for Purchase Order Line
sale_line_warn_msg                       | text       | Message for Sales Order Line
message_ids                              | one2many   | Messages
my_activity_date_deadline                | date       | My Activity Deadline
name                                     | char       | Name
nbr_moves_in                             | integer    | Nbr Moves In
nbr_moves_out                            | integer    | Nbr Moves Out
activity_calendar_event_id               | many2one   | Next Activity Calendar Event
activity_date_deadline                   | date       | Next Activity Deadline
activity_summary                         | char       | Next Activity Summary
activity_type_id                         | many2one   | Next Activity Type
message_needaction_counter               | integer    | Number of Actions
message_has_error_counter                | integer    | Number of errors
pricelist_item_count                     | integer    | Number of price rules
offer_count                              | integer    | Offer Count
optional_product_ids                     | many2many  | Optional Products
country_of_origin                        | many2one   | Origin of Goods
out_of_stock_message                     | html       | Out-of-Stock Message
outgoing_qty                             | float      | Outgoing
ebay_seller_payment_policy_id            | many2one   | Payment Policy
planning_enabled                         | boolean    | Plan Services
planning_role_id                         | many2one   | Planning Role
property_account_creditor_price_difference | many2one   | Price Difference Account
base_unit_price                          | monetary   | Price Per Unit
ebay_private_listing                     | boolean    | Private Listing
product_variant_id                       | many2one   | Product
attribute_line_ids                       | one2many   | Product Attributes
categ_id                                 | many2one   | Product Category
packaging_ids                            | one2many   | Product Packages
product_tag_ids                          | many2many  | Product Template Tags
product_tooltip                          | char       | Product Tooltip
detailed_type                            | selection  | Product Type
property_stock_production                | many2one   | Production Location
product_variant_ids                      | one2many   | Products
product_properties                       | properties | Properties
description_purchase                     | text       | Purchase Description
purchase_line_warn                       | selection  | Purchase Order Line Warning
uom_po_id                                | many2one   | Purchase UoM
purchased_product_qty                    | float      | Purchased
qty_available                            | float      | Quantity On Hand
ebay_quantity                            | integer    | Quantity On eBay
ebay_quantity_sold                       | integer    | Quantity Sold
rating_avg_text                          | selection  | Rating Avg Text
rating_last_feedback                     | text       | Rating Last Feedback
rating_last_image                        | binary     | Rating Last Image
rating_last_value                        | float      | Rating Last Value
rating_percentage_satisfaction           | float      | Rating Satisfaction
rating_last_text                         | selection  | Rating Text
rating_count                             | integer    | Rating count
rating_ids                               | one2many   | Ratings
expense_policy                           | selection  | Re-Invoice Expenses
visible_expense_policy                   | boolean    | Re-Invoice Policy visible
reordering_max_qty                       | float      | Reordering Max Qty
reordering_min_qty                       | float      | Reordering Min Qty
nbr_reordering_rules                     | integer    | Reordering Rules
responsible_id                           | many2one   | Responsible
activity_user_id                         | many2one   | Responsible User
ebay_seller_return_policy_id             | many2one   | Return Policy
website_ribbon_id                        | many2one   | Ribbon
route_ids                                | many2many  | Routes
has_available_route_ids                  | boolean    | Routes can be selected on this product
is_seo_optimized                         | boolean    | SEO optimized
message_has_sms_error                    | boolean    | SMS Delivery error
description_sale                         | text       | Sales Description
sale_line_warn                           | selection  | Sales Order Line
list_price                               | float      | Sales Price
seo_name                                 | char       | Seo name
sequence                                 | integer    | Sequence
ebay_seller_shipping_policy_id           | many2one   | Shipping Policy
show_forecasted_qty_status_button        | boolean    | Show Forecasted Qty Status Button
show_on_hand_qty_status_button           | boolean    | Show On Hand Qty Status Button
available_threshold                      | float      | Show Threshold
show_availability                        | boolean    | Show availability Qty
website_size_x                           | integer    | Size X
website_size_y                           | integer    | Size Y
sales_count                              | float      | Sold
ebay_start_date                          | datetime   | Start Date
ebay_price                               | float      | Starting Price for Auction
ebay_store_category_id                   | many2one   | Store Category (Optional)
ebay_store_category_2_id                 | many2one   | Store Category 2 (Optional)
service_to_purchase                      | boolean    | Subcontract Service
ebay_subtitle                            | char       | Subtitle
tax_string                               | char       | Tax String
ebay_title                               | char       | Title
service_type                             | selection  | Track Service
tracking                                 | selection  | Tracking
type                                     | selection  | Type
uom_id                                   | many2one   | Unit of Measure
uom_name                                 | char       | Unit of Measure Name
ebay_sync_stock                          | boolean    | Use Stock Quantity
x_studio_use_stock_quantity              | boolean    | Use Stock Quantity
ebay_use                                 | boolean    | Use eBay
valid_product_template_attribute_line_ids | many2many  | Valid Product Attribute Lines
variant_seller_ids                       | one2many   | Variant Seller
supplier_taxes_id                        | many2many  | Vendor Taxes
seller_ids                               | one2many   | Vendors
website_published                        | boolean    | Visible on current website
volume                                   | float      | Volume
volume_uom_name                          | char       | Volume unit of measure label
warehouse_id                             | many2one   | Warehouse
website_id                               | many2one   | Website
website_message_ids                      | one2many   | Website Messages
public_categ_ids                         | many2many  | Website Product Category
website_sequence                         | integer    | Website Sequence
website_url                              | char       | Website URL
website_meta_description                 | text       | Website meta description
website_meta_keywords                    | char       | Website meta keywords
website_meta_title                       | char       | Website meta title
website_meta_og_img                      | char       | Website opengraph image
weight                                   | float      | Weight
weight_uom_name                          | char       | Weight unit of measure label
ebay_description                         | html       | eBay Description
ebay_fixed_price                         | float      | eBay Fixed Price
ebay_id                                  | char       | eBay ID
ebay_listing_status                      | char       | eBay Status
ebay_url                                 | char       | eBay url
description_ecommerce                    | html       | eCommerce Description
x_studio_x_web_title                     | char       | x_web_title

In [3]:
import xmlrpc.client
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', 0)

# ===============================
# 1. Conexi√≥n con Odoo
# ===============================
ODOO_URL = "https://www.donssonusa.com"
ODOO_DB = "donsson-filters-florida-llc"
ODOO_USERNAME = "gbetancourt@donsson.com"
ODOO_PASSWORD = "DonssonFloridaCol"   

common = xmlrpc.client.ServerProxy(f"{ODOO_URL}/xmlrpc/2/common")
uid = common.authenticate(ODOO_DB, ODOO_USERNAME, ODOO_PASSWORD, {})
if not uid:
    print("Error de autenticaci√≥n. Verifica las credenciales.")
    exit()

models = xmlrpc.client.ServerProxy(f"{ODOO_URL}/xmlrpc/2/object")

# ===============================
# 2. Extraer productos
# ===============================
products = models.execute_kw(
    ODOO_DB, uid, ODOO_PASSWORD,
    "product.template", "search_read",
    [[]],       # sin filtros, trae todos
    {
        "fields": [
            "id","can_publish","name","description_sale","type","categ_id",
            "active","display_name","create_date","qty_available","sales_count","detailed_type","default_code"
        ]
    }
)

df = pd.DataFrame(products)

In [4]:

od_bald = df[df["name"].str.contains("BALD")]

In [5]:
od_bald.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, 3 to 260
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                258 non-null    int64
 1   can_publish       258 non-null    bool
 2   name              258 non-null    object
 3   description_sale  258 non-null    object
 4   type              258 non-null    object
 5   categ_id          258 non-null    object
 6   active            258 non-null    bool
 7   display_name      258 non-null    object
 8   create_date       258 non-null    object
 9   qty_available     258 non-null    float64
 10  sales_count       258 non-null    float64
 11  detailed_type     258 non-null    object
 12  default_code      258 non-null    object
dtypes: bool(2), float64(2), int64(1), object(8)
memory usage: 24.7+ KB

In [6]:
od_bald.sample(10)

,id,can_publish,name,description_sale,type,categ_id,active,display_name,create_date,qty_available,sales_count,detailed_type,default_code
100,6235,True,BALDWIN BF7815,False,product,"[25, Filters / Other brands]",True,BALDWIN BF7815,2025-03-28 18:57:49,0.0,1.0,product,False
229,6169,True,BALDWIN PF7983,False,product,"[25, Filters / Other brands]",True,BALDWIN PF7983,2025-01-10 00:50:29,0.0,0.0,product,False
205,5065,True,BALDWIN PA4483,False,product,"[26, Filters / Donsson / Other manufacturers]",True,BALDWIN PA4483,2024-05-28 01:31:13,1.0,0.0,product,False
78,6100,True,BALDWIN BF5800,False,product,"[25, Filters / Other brands]",True,BALDWIN BF5800,2025-01-10 00:50:29,0.0,24.0,product,False
169,5056,True,BALDWIN CA4999,False,product,"[26, Filters / Donsson / Other manufacturers]",True,BALDWIN CA4999,2024-05-12 23:11:31,5.0,0.0,product,False
168,5073,True,BALDWIN C133W,False,product,"[26, Filters / Donsson / Other manufacturers]",True,BALDWIN C133W,2024-05-28 01:55:40,7.0,0.0,product,False
90,6146,True,BALDWIN BF7673D,False,product,"[25, Filters / Other brands]",True,BALDWIN BF7673D,2025-01-10 00:50:29,0.0,9.0,product,False
128,6337,True,BALDWIN BF9874DM,False,product,"[25, Filters / Other brands]",True,BALDWIN BF9874DM,2025-09-12 00:20:13,0.0,12.0,product,False
40,6215,True,BALDWIN B7685,False,product,"[25, Filters / Other brands]",True,BALDWIN B7685,2025-03-12 19:17:31,4.0,0.0,product,False
118,6336,True,BALDWIN BF909,False,product,"[25, Filters / Other brands]",True,BALDWIN BF909,2025-09-12 00:19:20,0.0,12.0,product,False

In [7]:
import pandas as pd
df_bald = pd.read_excel("/home/donsson/proyectos/DONSSON MIAMI/listas_precios/Copia de LAUREN Copy of Baldwin % - US Blue Price Sheet (Eff 6-30-25) B-57 (2).xlsx")

In [8]:
df_bald.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6466 entries, 0 to 6465
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Baldwin Number   6466 non-null   object
 1   Marca            6466 non-null   object
 2   Name             6466 non-null   object
 3   Description      6466 non-null   object
 4   Blue             6466 non-null   float64
 5   0.57             6466 non-null   float64
 6   List             6466 non-null   object
 7   Qty/Case         6466 non-null   int64
 8   Wt./Case         6466 non-null   float64
 9   POP Code         6466 non-null   object
 10  POP Code Change  104 non-null    object
 11  UPC - Each       6465 non-null   float64
 12  UPC - Case       3619 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 656.8+ KB

In [9]:
duplicates = df_bald[df_bald.duplicated()].index

# 2. Drop those rows from the DataFrame
df_bald = df_bald.drop(duplicates)

In [10]:
df_bald["name"] = "BALDWIN " + df_bald["Baldwin Number"].astype(str).str.upper().str.strip()
df_bald["name"] = df_bald["name"].str.replace("-", "", regex=False)


df_bald.head()

,Baldwin Number,Marca,Name,Description,Blue,0.57,List,Qty/Case,Wt./Case,POP Code,POP Code Change,UPC - Each,UPC - Case,name
0,B2,Baldwin,B2 Baldwin,Full-Flow Lube Spin-on,9.94,4.2742,24.85,12,14.6,A,NaN,7.914400e+11,1.079144e+13,BALDWIN B2
1,B2-HPG,Baldwin,B2-HPG Baldwin,High Performance Full-Flow Lube Spin-on,26.68,11.4724,66.70,12,14.0,D,NaN,7.914400e+11,1.079144e+13,BALDWIN B2HPG
2,B4,Baldwin,B4 Baldwin,Full-Flow Lube Spin-on,24.13,10.3759,60.33,12,11.5,D,NaN,7.914400e+11,1.079144e+13,BALDWIN B4
3,BT5,Baldwin,BT5 Baldwin,Full-Flow Lube Spin-on,18.11,7.7873,45.28,12,15.7,D,NaN,7.914400e+11,1.079144e+13,BALDWIN BT5
4,B6,Baldwin,B6 Baldwin,Full-Flow Lube Spin-on,11.61,4.9923,29.03,12,14.6,C,NaN,7.914400e+11,1.079144e+13,BALDWIN B6

In [11]:
od_bald["en_lista"] = od_bald["name"].isin(df_bald["name"])

od_no = od_bald[~od_bald["en_lista"]]

od_no.head(7)

#od_bald.info()

/tmp/ipykernel_93545/3155477891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  od_bald["en_lista"] = od_bald["name"].isin(df_bald["name"])

,id,can_publish,name,description_sale,type,categ_id,active,display_name,create_date,qty_available,sales_count,detailed_type,default_code,en_lista
175,5071,True,BALDWIN OAS99018,False,product,"[26, Filters / Donsson / Other manufacturers]",True,BALDWIN OAS99018,2024-05-28 01:51:45,1.0,0.0,product,False,False
238,5061,True,BALDWIN PT8411,False,product,"[25, Filters / Other brands]",True,BALDWIN PT8411,2024-05-28 01:21:03,0.0,1.0,product,False,False

In [12]:
df_bald[df_bald["Baldwin Number"].str.contains("841")]

,Baldwin Number,Marca,Name,Description,Blue,0.57,List,Qty/Case,Wt./Case,POP Code,POP Code Change,UPC - Each,UPC - Case,name
1297,PA1841,Baldwin,PA1841 Baldwin,Air Element,20.75,8.9225,51.88,6,9.1,D,NaN,7.914400e+11,1.079144e+13,BALDWIN PA1841
4039,BF7841,Baldwin,BF7841 Baldwin,Fuel Spin-on,26.83,11.5369,67.08,12,9.5,X,NaN,7.914401e+11,1.079144e+13,BALDWIN BF7841
4239,BT8412,Baldwin,BT8412 Baldwin,In-Line Hydraulic Filter,82.80,35.6040,207.00,12,16.7,D,NaN,7.914401e+11,1.079144e+13,BALDWIN BT8412
4240,BT8413,Baldwin,BT8413 Baldwin,Transmission Spin-on,17.21,7.4003,43.03,12,10.9,X,NaN,7.914401e+11,1.079144e+13,BALDWIN BT8413
4241,PT8414-MPG,Baldwin,PT8414-MPG Baldwin,Max. Perf. Glass Hydraulic Element,147.46,63.4078,368.65,1,2.6,D,NaN,7.914401e+11,NaN,BALDWIN PT8414MPG
4242,BT8415,Baldwin,BT8415 Baldwin,Transmission Spin-on,77.77,33.4411,194.43,12,19.9,C,NaN,7.914401e+11,1.079144e+13,BALDWIN BT8415
4243,BT8416,Baldwin,BT8416 Baldwin,Hydraulic Spin-on,44.95,19.3285,112.38,6,11.4,C,NaN,7.914401e+11,1.079144e+13,BALDWIN BT8416
4244,BT8417,Baldwin,BT8417 Baldwin,Transmission Spin-on,21.72,9.3396,54.30,12,13.1,C,NaN,7.914401e+11,1.079144e+13,BALDWIN BT8417
4245,BT8418,Baldwin,BT8418 Baldwin,Hydraulic Spin-on,110.88,47.6784,277.20,6,14.3,D,NaN,7.914401e+11,1.079144e+13,BALDWIN BT8418
4246,PT8419,Baldwin,PT8419 Baldwin,In-Tank Hydraulic Element,87.52,37.6336,218.80,12,12.9,D,NaN,7.914401e+11,1.079144e+13,BALDWIN PT8419
4347,BT8841-MPG,Baldwin,BT8841-MPG Baldwin,Max. Perf. Glass Hydraulic Spin-on,81.54,35.0622,203.85,6,13.8,D,NaN,7.914400e+11,1.079144e+13,BALDWIN BT8841MPG
4792,BF9841,Baldwin,BF9841 Baldwin,Fuel Spin-on,17.94,7.7142,44.85,12,10.4,D,NaN,7.914401e+11,1.079144e+13,BALDWIN BF9841

In [13]:
# Filtrar Name que no est√©n en Odoo
df_bald_nuevos = df_bald[~df_bald["name"].isin(od_bald["name"])]
# Si df tambi√©n tiene Name
df_final = df_bald_nuevos.merge(od_bald, on="name", how="left")

df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6212 entries, 0 to 6211
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Baldwin Number    6212 non-null   object
 1   Marca             6212 non-null   object
 2   Name              6212 non-null   object
 3   Description       6212 non-null   object
 4   Blue              6212 non-null   float64
 5   0.57              6212 non-null   float64
 6   List              6212 non-null   object
 7   Qty/Case          6212 non-null   int64
 8   Wt./Case          6212 non-null   float64
 9   POP Code          6212 non-null   object
 10  POP Code Change   104 non-null    object
 11  UPC - Each        6211 non-null   float64
 12  UPC - Case        3419 non-null   float64
 13  name              6212 non-null   object
 14  id                0 non-null      float64
 15  can_publish       0 non-null      object
 16  description_sale  0 non-null      object
 17  type              0 non-null      object
 18  categ_id          0 non-null      object
 19  active            0 non-null      object
 20  display_name      0 non-null      object
 21  create_date       0 non-null      object
 22  qty_available     0 non-null      float64
 23  sales_count       0 non-null      float64
 24  detailed_type     0 non-null      object
 25  default_code      0 non-null      object
 26  en_lista          0 non-null      object
dtypes: float64(8), int64(1), object(18)
memory usage: 1.3+ MB

In [14]:
# 1. Eliminar columnas que son solo NaN o tienen casi ning√∫n valor
# Mantendremos columnas que tengan al menos 1 valor no-NaN (si lo quieres m√°s estricto cambia 1 por 2, 3, etc.)
df_limpio = df_final.dropna(axis=1, how='all')

# 2. Definir y eliminar las columnas espec√≠ficas por su nombre exacto
cols_to_drop_specific = [
    "POP Code",
    "POP Code Change",
    "UPC - Each",
    "Qty/Case",
    "UPC - Case",
    "id","Name","Blue","List","Wt./Case"
]

# Filtrar solo las que existen
cols_exist = [col for col in cols_to_drop_specific if col in df_limpio.columns]

# Aplicar la eliminaci√≥n de las columnas espec√≠ficas
df_limpio = df_limpio.drop(columns=cols_exist)

In [15]:
df_limpio.columns

Index(['Baldwin Number', 'Marca', 'Description', 0.57, 'name'], dtype='object')

In [16]:
# Crear el nuevo DataFrame para la carga
df_cargar = df_limpio.copy()

# 1. Renombrar y manejar columnas existentes

# Renombrar 'name' a 'Name'
if 'name' in df_cargar.columns:
    df_cargar = df_cargar.rename(columns={'name': 'Name'})
else:
    # Si la columna 'name' no existe, puede ser 'id' o 'Baldwin Number' la que quieres renombrar
    print("Advertencia: La columna 'name' no se encontr√≥ para renombrar a 'Name'.")

# Renombrar '0.57' a 'Cost' (asumiendo que '0.57' es el nombre de columna correcto)
if 0.57 in df_cargar.columns:
    df_cargar = df_cargar.rename(columns={0.57: 'Cost'})
else:
    print("Advertencia: La columna 0.57 (para Cost) no se encontr√≥.")

# Renombrar 'Description' a 'Sales description'
if 'Description' in df_cargar.columns:
    df_cargar = df_cargar.rename(columns={'Description': 'description_sale'})
else:
    print("Advertencia: La columna 'Description' no se encontr√≥ para renombrar a 'Sales description'.")


# 2. Creaci√≥n de nuevas columnas con valores y c√°lculos

# C√°lculo del Sales Price (Costo / 0.8)
if 'Cost' in df_cargar.columns:
    # Usamos .loc para evitar SettingWithCopyWarning
    df_cargar.loc[:, 'Sales Price'] = df_cargar['Cost'] / 0.8
else:
    print("Error: No se puede calcular 'Sales Price' porque 'Cost' (antes '0.57') no existe.")

# Columna Product Type
df_cargar.loc[:, 'Product Type'] = 'product'

# Columnas vac√≠as
df_cargar.loc[:, 'Internal Reference'] = ''
df_cargar.loc[:, 'Barcode'] = ''
df_cargar.loc[:, 'Weight'] = ''

# Columna de Categor√≠a de Producto (categ_id)
# Usaremos el formato correcto para Odoo: [ID, Nombre]
df_cargar.loc[:, 'categ_id'] = 'Filters / Other brands'

# 3. Reordenar las columnas

# Identificar la columna que debe ser la primera (Baldwin Number o similar)
# Suponemos que la primera columna actual (√≠ndice 0) es la referencia principal
first_col = df_cargar.columns[0]

# Definir el nuevo orden: Primera, Name, luego las dem√°s
cols = [first_col, 'Name'] + [col for col in df_cargar.columns if col not in [first_col, 'Name']]
df_cargar = df_cargar[cols]

In [17]:
df_cargar.head()

,Baldwin Number,Name,Marca,description_sale,Cost,Sales Price,Product Type,Internal Reference,Barcode,Weight,categ_id
0,B2-HPG,BALDWIN B2HPG,Baldwin,High Performance Full-Flow Lube Spin-on,11.4724,14.340500,product,,,,Filters / Other brands
1,B4,BALDWIN B4,Baldwin,Full-Flow Lube Spin-on,10.3759,12.969875,product,,,,Filters / Other brands
2,BT5,BALDWIN BT5,Baldwin,Full-Flow Lube Spin-on,7.7873,9.734125,product,,,,Filters / Other brands
3,B6,BALDWIN B6,Baldwin,Full-Flow Lube Spin-on,4.9923,6.240375,product,,,,Filters / Other brands
4,B6-HPG,BALDWIN B6HPG,Baldwin,High Perf. Full-Flow Lube Spin-on,13.7901,17.237625,product,,,,Filters / Other brands

In [18]:
# Suponiendo que df_cargar ya tiene las columnas calculadas y con valores fijos
# 1. Renombrar las columnas de df_cargar a los nombres EXACTOS de la plantilla Odoo

df_cargar = df_cargar.rename(columns={
    'Name': 'name',                        # De 'Name' a 'name' (min√∫scula)
    'Cost': 'standard_price',              # De 'Cost' (antes '0.57') a 'standard_price'
    'Sales Price': 'list_price',           # De 'Sales Price' a 'list_price'
    'Sales description': 'description',

})

# 2. Reafirmar valores de Odoo con los nombres correctos (si no los creaste as√≠)
df_cargar.loc[:, 'detailed_type'] = 'Storable Product' # 'storable' es el valor t√©cnico para Producto Almacenable
df_cargar.loc[:, 'sale_ok'] = True
df_cargar.loc[:, 'purchase_ok'] = True
# El campo de Cuenta de Gasto necesita el ID o la referencia externa, el .id es clave:
df_cargar.loc[:, 'property_account_expense_id/id'] = 'account.1_cost_of_goods_sold' # Asumo que es el nombre XMLID o referencia externa de la cuenta 500000
df_cargar.loc[:, 'show_availability'] = 'True' # Aunque es una columna booleana, poner 'True' asegura que se muestre.

# 3. Eliminar la columna 'id' que viene de la plantilla, pues es un ID de Odoo que no usaremos
if 'id' in df_cargar.columns:
    df_cargar = df_cargar.drop(columns=['id'])

# 4. Establecer la referencia interna (default_code)
# Asumiendo que la primera columna de df_limpio (Baldwin Number) es tu referencia interna
df_cargar.loc[:, 'default_code'] = df_cargar.iloc[:, 0]
df_cargar.loc[:, 'Quantity On Hand'] = 0 # O el nombre t√©cnico que te d√© Odoo

In [19]:
df_cargar = df_cargar.drop(columns=["Baldwin Number","Marca","Internal Reference","Barcode","Weight","default_code"])

In [20]:
df_cargar.head()

,name,description_sale,standard_price,list_price,Product Type,categ_id,detailed_type,sale_ok,purchase_ok,property_account_expense_id/id,show_availability,Quantity On Hand
0,BALDWIN B2HPG,High Performance Full-Flow Lube Spin-on,11.4724,14.340500,product,Filters / Other brands,Storable Product,True,True,account.1_cost_of_goods_sold,True,0
1,BALDWIN B4,Full-Flow Lube Spin-on,10.3759,12.969875,product,Filters / Other brands,Storable Product,True,True,account.1_cost_of_goods_sold,True,0
2,BALDWIN BT5,Full-Flow Lube Spin-on,7.7873,9.734125,product,Filters / Other brands,Storable Product,True,True,account.1_cost_of_goods_sold,True,0
3,BALDWIN B6,Full-Flow Lube Spin-on,4.9923,6.240375,product,Filters / Other brands,Storable Product,True,True,account.1_cost_of_goods_sold,True,0
4,BALDWIN B6HPG,High Perf. Full-Flow Lube Spin-on,13.7901,17.237625,product,Filters / Other brands,Storable Product,True,True,account.1_cost_of_goods_sold,True,0

In [21]:
column_order = [
    'name',
    'detailed_type',
    'default_code',
    'standard_price',
    'list_price',
    'description_sale',
    'sale_ok',
    'purchase_ok',
    'property_account_expense_id/id',
    'show_availability',
    'categ_id'
    # Incluye aqu√≠ cualquier otra columna que aparezca en tu plantilla de Odoo, aunque la dejes vac√≠a
]

# Creamos el DataFrame final con el orden correcto
df_final_csv = df_cargar.reindex(columns=column_order)

In [22]:
df_final_csv.head()

,name,detailed_type,default_code,standard_price,list_price,description_sale,sale_ok,purchase_ok,property_account_expense_id/id,show_availability,categ_id
0,BALDWIN B2HPG,Storable Product,NaN,11.4724,14.340500,High Performance Full-Flow Lube Spin-on,True,True,account.1_cost_of_goods_sold,True,Filters / Other brands
1,BALDWIN B4,Storable Product,NaN,10.3759,12.969875,Full-Flow Lube Spin-on,True,True,account.1_cost_of_goods_sold,True,Filters / Other brands
2,BALDWIN BT5,Storable Product,NaN,7.7873,9.734125,Full-Flow Lube Spin-on,True,True,account.1_cost_of_goods_sold,True,Filters / Other brands
3,BALDWIN B6,Storable Product,NaN,4.9923,6.240375,Full-Flow Lube Spin-on,True,True,account.1_cost_of_goods_sold,True,Filters / Other brands
4,BALDWIN B6HPG,Storable Product,NaN,13.7901,17.237625,High Perf. Full-Flow Lube Spin-on,True,True,account.1_cost_of_goods_sold,True,Filters / Other brands

In [23]:
df_final_csv.to_csv("/home/donsson/proyectos/DONSSON MIAMI/productos_baldwin_final.csv")