In [134]:
import pandas as pd
import numpy as np

# Corregir la ruta del archivo
df = pd.read_parquet("/home/donsson/proyectos/API/historico_ventas_1_año.parquet")
df_p = pd.read_parquet("/home/donsson/proyectos/API/costo_productos.parquet")

In [135]:
import re
import unicodedata

# Diccionario de códigos a sucursales
mapa_codigos = {
    "FCAL": "CALI",
    "FMDE": "MEDELLIN",
    "FBOG": "BOGOTA",
    "FCTG": "CARTAGENA",
    "FBAQ": "BARRANQUILLA",
    "FVAL":"VALLADOLID"
}


# Equivalencias para normalizar nombres truncados o mal escritos
mapa_equivalencias = {
    "MEDELLIN": "MEDELLIN",
    "MEDELLI": "MEDELLIN",
    "MEDELL": "MEDELLIN",
    "MEDELI": "MEDELLIN",
    "CALI": "CALI",
    "BARRANQUILLA": "BARRANQUILLA",
    "BOGOTA": "BOGOTA",
    "CARTAGENA": "CARTAGENA",
    "VALLADOLID": "VALLADOLID"
}

def normalizar(texto):
    """Quita tildes y pasa a mayúsculas"""
    texto = unicodedata.normalize("NFKD", texto)
    texto = "".join([c for c in texto if not unicodedata.combining(c)])
    return texto.upper()

def extraer_sucursal(nombre):
    if not isinstance(nombre, str):
        return "VENDEDOR EXTERNO"
    
    sucursal = None
    
    # 1) Buscar "Mostrador ..."
    match = re.search(r"Mostrador\s+([A-Za-z0-9\s]+)", nombre, re.IGNORECASE)
    if match:
        sucursal = match.group(1).strip()
    else:
        # 2) Buscar "Calle" o "Cota"
        match2 = re.search(r"(Calle\s+\d+|Cota)", nombre, re.IGNORECASE)
        if match2:
            sucursal = match2.group(1).strip()
        else:
            # 3) Buscar prefijo de código
            for prefijo, ciudad in mapa_codigos.items():
                if nombre.upper().startswith(prefijo):
                    return ciudad
            return "VENDEDOR EXTERNO"
    
    # Normalizar texto
    sucursal = normalizar(sucursal)
    
    # Limpiar T1, T2, T3 al final
    sucursal = re.sub(r"\s*T\d+$", "", sucursal).strip()
    
    # Aplicar equivalencias
    sucursal = mapa_equivalencias.get(sucursal, sucursal)
    
    return sucursal

# Aplicar al dataframe
df["Sucursal"] = df["invoice_name"].apply(extraer_sucursal)

In [136]:
df = pd.merge(df,df_p,on='product_name',how="left")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1773186 entries, 0 to 1773185
Data columns (total 10 columns):
 #   Column                   Dtype
---  ------                   -----
 0   price_subtotal           float64
 1   id                       int64
 2   quantity                 float64
 3   product_id_num           int64
 4   product_name             object
 5   invoice_id_num           int64
 6   invoice_name             object
 7   date_invoice             datetime64[ns]
 8   Sucursal                 object
 9   producto_costo_unitario  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 135.3+ MB

In [137]:
df = df[df["Sucursal"]!= "VENDEDOR EXTERNO"]

df = df[["quantity","product_name","date_invoice","Sucursal","producto_costo_unitario"]]

# Aseguramos que la columna sea datetime (por si acaso)
df["date_invoice"] = pd.to_datetime(df["date_invoice"])

# Tomamos la fecha máxima del DF
fecha_max = df["date_invoice"].max()

# Calculamos el límite de un año atrás
fecha_min = fecha_max - pd.Timedelta(weeks=52)

# Filtramos
df_12_semanas = df[df["date_invoice"] >= fecha_min]

print(df_12_semanas.shape)
print(df_12_semanas["date_invoice"].min(), df_12_semanas["date_invoice"].max())


df_12_semanas.info()

(1311046, 5)
2024-09-04 15:34:28 2025-09-03 15:24:02
<class 'pandas.core.frame.DataFrame'>
Index: 1311046 entries, 0 to 1770881
Data columns (total 5 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   quantity                 1311046 non-null  float64
 1   product_name             1311046 non-null  object
 2   date_invoice             1311046 non-null  datetime64[ns]
 3   Sucursal                 1311046 non-null  object
 4   producto_costo_unitario  1311039 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 60.0+ MB

In [138]:
df_bq_2570 = df_12_semanas[(df["Sucursal"]=="BARRANQUILLA")&( df_12_semanas["product_name"].str.contains("DAB02570025"))]

/tmp/ipykernel_99372/3306005501.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_bq_2570 = df_12_semanas[(df["Sucursal"]=="BARRANQUILLA")&( df_12_semanas["product_name"].str.contains("DAB02570025"))]

In [139]:
df_bq_2570

,quantity,product_name,date_invoice,Sucursal,producto_costo_unitario
7425,1.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2025-09-02 15:33:08,BARRANQUILLA,"13,507.7100"
7426,1.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2025-09-02 15:33:08,BARRANQUILLA,"13,507.7100"
7427,1.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2025-09-02 15:33:08,BARRANQUILLA,"13,507.7100"
7428,1.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2025-09-02 15:33:08,BARRANQUILLA,"13,507.7100"
7429,1.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2025-09-02 15:33:08,BARRANQUILLA,"13,507.7100"
...,...,...,...,...,...
1764496,12.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2024-09-06 17:41:10,BARRANQUILLA,"13,507.7100"
1764497,12.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2024-09-06 17:41:10,BARRANQUILLA,"13,507.7100"
1764498,12.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2024-09-06 17:41:10,BARRANQUILLA,"13,507.7100"
1764499,12.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2024-09-06 17:41:10,BARRANQUILLA,"13,507.7100"
1764500,12.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2024-09-06 17:41:10,BARRANQUILLA,"13,507.7100"

In [149]:
ventas_semana = (
    df_bq_2570
    .groupby(pd.Grouper(key="date_invoice", freq="W"))["quantity"]
    .mean()
    .reset_index()
)

ventas_semana.head(60)

   date_invoice  quantity
0    2024-09-08    4.6667
1    2024-09-15   18.9231
2    2024-09-22    2.6000
3    2024-09-29    3.5714
4    2024-10-06    6.2000
5    2024-10-13    9.7500
6    2024-10-20    6.0000
7    2024-10-27    3.5000
8    2024-11-03    4.8571
9    2024-11-10   11.5714
10   2024-11-17    4.0000
11   2024-11-24    6.6667
12   2024-12-01    2.9167
13   2024-12-08   13.1429
14   2024-12-15    1.4286
15   2024-12-22    4.3333
16   2024-12-29    5.5000
17   2025-01-05    2.5000
18   2025-01-12    3.0000
19   2025-01-19    5.1818
20   2025-01-26    3.7500
21   2025-02-02    6.0000
22   2025-02-09    4.0000
23   2025-02-16    8.4444
24   2025-02-23    6.0000
25   2025-03-02    3.8000
26   2025-03-09    6.3077
27   2025-03-16   10.7857
28   2025-03-23    1.2500
29   2025-03-30    3.4545
30   2025-04-06    2.4000
31   2025-04-13    2.2500
32   2025-04-20    3.1667
33   2025-04-27    3.8889
34   2025-05-04    5.3750
35   2025-05-11    2.7692
36   2025-05-18    9.1818
37   2025-05-25    3.2857
38   2025-06-01    7.6429
39   2025-06-08    3.8000
40   2025-06-15    4.0000
41   2025-06-22    2.6364
42   2025-06-29    3.5455
43   2025-07-06    2.6154
44   2025-07-13    7.8889
45   2025-07-20    3.0000
46   2025-07-27    4.3333
47   2025-08-03    1.2500
48   2025-08-10    3.5000
49   2025-08-17   11.0588
50   2025-08-24    2.5833
51   2025-08-31    3.6667
52   2025-09-07    1.5000

In [150]:
ventas_mes = (
    df_bq_2570
    .groupby(pd.Grouper(key="date_invoice", freq="M"))["quantity"]
    .sum()
    .reset_index()
)

ventas_mes

/tmp/ipykernel_99372/651725549.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .groupby(pd.Grouper(key="date_invoice", freq="M"))["quantity"]

   date_invoice   quantity
0    2024-09-30 2,682.0000
1    2024-10-31 2,106.0000
2    2024-11-30 1,665.0000
3    2024-12-31 1,368.0000
4    2025-01-31 1,287.0000
5    2025-02-28 1,773.0000
6    2025-03-31 2,484.0000
7    2025-04-30 1,512.0000
8    2025-05-31 2,421.0000
9    2025-06-30 1,107.0000
10   2025-07-31 1,548.0000
11   2025-08-31 2,628.0000
12   2025-09-30    54.0000

In [148]:
alpha = 0.2


ventas_semana["EMA1"] = np.nan


ventas_semana.loc[0, "EMA1"] = ventas_semana.loc[0, "quantity"]

for i in range(1, len(ventas_semana)):
    ventas_semana.loc[i, "EMA1"] = (
        ventas_semana.loc[i, "quantity"] * alpha
        + ventas_semana.loc[i-1, "EMA1"] * (1 - alpha)
    )


# Imprimimos el DataFrame con la nueva columna EMA
ventas_semana

   date_invoice  quantity   EMA1
0    2024-09-08    4.6667 4.6667
1    2024-09-15   18.9231 7.5179
2    2024-09-22    2.6000 6.5344
3    2024-09-29    3.5714 5.9418
4    2024-10-06    6.2000 5.9934
5    2024-10-13    9.7500 6.7447
6    2024-10-20    6.0000 6.5958
7    2024-10-27    3.5000 5.9766
8    2024-11-03    4.8571 5.7527
9    2024-11-10   11.5714 6.9165
10   2024-11-17    4.0000 6.3332
11   2024-11-24    6.6667 6.3999
12   2024-12-01    2.9167 5.7032
13   2024-12-08   13.1429 7.1912
14   2024-12-15    1.4286 6.0386
15   2024-12-22    4.3333 5.6976
16   2024-12-29    5.5000 5.6581
17   2025-01-05    2.5000 5.0265
18   2025-01-12    3.0000 4.6212
19   2025-01-19    5.1818 4.7333
20   2025-01-26    3.7500 4.5366
21   2025-02-02    6.0000 4.8293
22   2025-02-09    4.0000 4.6634
23   2025-02-16    8.4444 5.4196
24   2025-02-23    6.0000 5.5357
25   2025-03-02    3.8000 5.1886
26   2025-03-09    6.3077 5.4124
27   2025-03-16   10.7857 6.4871
28   2025-03-23    1.2500 5.4396
29   2025-03-30    3.4545 5.0426
30   2025-04-06    2.4000 4.5141
31   2025-04-13    2.2500 4.0613
32   2025-04-20    3.1667 3.8824
33   2025-04-27    3.8889 3.8837
34   2025-05-04    5.3750 4.1819
35   2025-05-11    2.7692 3.8994
36   2025-05-18    9.1818 4.9559
37   2025-05-25    3.2857 4.6218
38   2025-06-01    7.6429 5.2260
39   2025-06-08    3.8000 4.9408
40   2025-06-15    4.0000 4.7527
41   2025-06-22    2.6364 4.3294
42   2025-06-29    3.5455 4.1726
43   2025-07-06    2.6154 3.8612
44   2025-07-13    7.8889 4.6667
45   2025-07-20    3.0000 4.3334
46   2025-07-27    4.3333 4.3334
47   2025-08-03    1.2500 3.7167
48   2025-08-10    3.5000 3.6734
49   2025-08-17   11.0588 5.1504
50   2025-08-24    2.5833 4.6370
51   2025-08-31    3.6667 4.4430
52   2025-09-07    1.5000 3.8544

In [143]:
alpha = 0.2
ventas_semana["EMA_custom"] = np.nan

# En la semana 16 tomamos 80% de EMA1[15] + 20% de quantity[15]
ventas_semana.loc[15, "EMA_custom"] = (
    0.8 * ventas_semana.loc[15, "EMA1"] +
    0.2 * ventas_semana.loc[15, "quantity"]
)

# Desde la semana 17 en adelante usamos EMA_custom
for i in range(16, len(ventas_semana)):
    ventas_semana.loc[i, "EMA_custom"] = (
        (1 - alpha) * ventas_semana.loc[i-1, "EMA_custom"]
        + alpha * ventas_semana.loc[i, "quantity"]
    )

In [145]:
#ventas_semana