In [102]:
import pandas as pd
import numpy as np

# Corregir la ruta del archivo
df = pd.read_parquet("/home/donsson/proyectos/API/historico_ventas_1_año.parquet")
df_p = pd.read_parquet("/home/donsson/proyectos/API/costo_productos.parquet")

In [103]:
import re
import unicodedata

# Diccionario de códigos a sucursales
mapa_codigos = {
    "FCAL": "CALI",
    "FMDE": "MEDELLIN",
    "FBOG": "BOGOTA",
    "FCTG": "CARTAGENA",
    "FBAQ": "BARRANQUILLA",
    "FVAL":"VALLADOLID"
}


# Equivalencias para normalizar nombres truncados o mal escritos
mapa_equivalencias = {
    "MEDELLIN": "MEDELLIN",
    "MEDELLI": "MEDELLIN",
    "MEDELL": "MEDELLIN",
    "MEDELI": "MEDELLIN",
    "CALI": "CALI",
    "BARRANQUILLA": "BARRANQUILLA",
    "BOGOTA": "BOGOTA",
    "CARTAGENA": "CARTAGENA",
    "VALLADOLID": "VALLADOLID"
}

def normalizar(texto):
    """Quita tildes y pasa a mayúsculas"""
    texto = unicodedata.normalize("NFKD", texto)
    texto = "".join([c for c in texto if not unicodedata.combining(c)])
    return texto.upper()

def extraer_sucursal(nombre):
    if not isinstance(nombre, str):
        return "VENDEDOR EXTERNO"
    
    sucursal = None
    
    # 1) Buscar "Mostrador ..."
    match = re.search(r"Mostrador\s+([A-Za-z0-9\s]+)", nombre, re.IGNORECASE)
    if match:
        sucursal = match.group(1).strip()
    else:
        # 2) Buscar "Calle" o "Cota"
        match2 = re.search(r"(Calle\s+\d+|Cota)", nombre, re.IGNORECASE)
        if match2:
            sucursal = match2.group(1).strip()
        else:
            # 3) Buscar prefijo de código
            for prefijo, ciudad in mapa_codigos.items():
                if nombre.upper().startswith(prefijo):
                    return ciudad
            return "VENDEDOR EXTERNO"
    
    # Normalizar texto
    sucursal = normalizar(sucursal)
    
    # Limpiar T1, T2, T3 al final
    sucursal = re.sub(r"\s*T\d+$", "", sucursal).strip()
    
    # Aplicar equivalencias
    sucursal = mapa_equivalencias.get(sucursal, sucursal)
    
    return sucursal

# Aplicar al dataframe
df["Sucursal"] = df["invoice_name"].apply(extraer_sucursal)

In [104]:
df = pd.merge(df,df_p,on='product_name',how="left")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1773186 entries, 0 to 1773185
Data columns (total 10 columns):
 #   Column                   Dtype
---  ------                   -----
 0   price_subtotal           float64
 1   id                       int64
 2   quantity                 float64
 3   product_id_num           int64
 4   product_name             object
 5   invoice_id_num           int64
 6   invoice_name             object
 7   date_invoice             datetime64[ns]
 8   Sucursal                 object
 9   producto_costo_unitario  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 135.3+ MB

In [105]:
df = df[df["Sucursal"]!= "VENDEDOR EXTERNO"]

df = df[["quantity","product_name","date_invoice","Sucursal","producto_costo_unitario"]]

# Aseguramos que la columna sea datetime (por si acaso)
df["date_invoice"] = pd.to_datetime(df["date_invoice"])

# Tomamos la fecha máxima del DF
fecha_max = df["date_invoice"].max()

# Calculamos el límite de un año atrás
fecha_min = fecha_max - pd.Timedelta(weeks=52)

# Filtramos
df_12_semanas = df[df["date_invoice"] >= fecha_min]

print(df_12_semanas.shape)
print(df_12_semanas["date_invoice"].min(), df_12_semanas["date_invoice"].max())


df_12_semanas.info()

(1311046, 5)
2024-09-04 15:34:28 2025-09-03 15:24:02
<class 'pandas.core.frame.DataFrame'>
Index: 1311046 entries, 0 to 1770881
Data columns (total 5 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   quantity                 1311046 non-null  float64
 1   product_name             1311046 non-null  object
 2   date_invoice             1311046 non-null  datetime64[ns]
 3   Sucursal                 1311046 non-null  object
 4   producto_costo_unitario  1311039 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 60.0+ MB

In [106]:
df_bq_2570 = df[(df["Sucursal"]=="BARRANQUILLA")&( df["product_name"].str.contains("DAB02570025"))]

In [107]:
df_bq_2570

,quantity,product_name,date_invoice,Sucursal,producto_costo_unitario
7425,1.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2025-09-02 15:33:08,BARRANQUILLA,"13,507.7100"
7426,1.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2025-09-02 15:33:08,BARRANQUILLA,"13,507.7100"
7427,1.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2025-09-02 15:33:08,BARRANQUILLA,"13,507.7100"
7428,1.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2025-09-02 15:33:08,BARRANQUILLA,"13,507.7100"
7429,1.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2025-09-02 15:33:08,BARRANQUILLA,"13,507.7100"
...,...,...,...,...,...
1772416,6.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2024-09-04 13:48:40,BARRANQUILLA,"13,507.7100"
1772417,6.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2024-09-04 13:48:40,BARRANQUILLA,"13,507.7100"
1772418,6.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2024-09-04 13:48:40,BARRANQUILLA,"13,507.7100"
1772419,6.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2024-09-04 13:48:40,BARRANQUILLA,"13,507.7100"
1772420,6.0000,[DAB02570025] DA2570 FILTRO AIRE DONSSON - PER...,2024-09-04 13:48:40,BARRANQUILLA,"13,507.7100"

In [108]:
ventas_semana = (
    df_12_semanas
    .groupby(pd.Grouper(key="date_invoice", freq="W"))["quantity"]
    .sum()
    .reset_index()
)

ventas_semana.head(12)

   date_invoice     quantity
0    2024-09-08  24,579.0000
1    2024-09-15  70,344.0000
2    2024-09-22  63,892.0000
3    2024-09-29  70,461.0000
4    2024-10-06  68,427.0000
5    2024-10-13 110,871.0000
6    2024-10-20  56,124.0000
7    2024-10-27  69,039.0000
8    2024-11-03  69,075.0000
9    2024-11-10  52,507.0000
10   2024-11-17  52,281.0000
11   2024-11-24  74,853.0000

In [109]:
ventas_mes = (
    df_12_semanas
    .groupby(pd.Grouper(key="date_invoice", freq="M"))["quantity"]
    .mean()
    .reset_index()
)

ventas_mes

/tmp/ipykernel_99372/656462733.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .groupby(pd.Grouper(key="date_invoice", freq="M"))["quantity"]

   date_invoice  quantity
0    2024-09-30    2.7349
1    2024-10-31    3.1104
2    2024-11-30    2.6755
3    2024-12-31    2.5146
4    2025-01-31    2.5831
5    2025-02-28    2.7534
6    2025-03-31    2.7904
7    2025-04-30    2.7222
8    2025-05-31    2.6616
9    2025-06-30    2.7369
10   2025-07-31    2.5218
11   2025-08-31    2.5669
12   2025-09-30    3.0483

In [110]:
alpha = 0.2


ventas_semana["EMA1"] = np.nan


ventas_semana.loc[0, "EMA1"] = ventas_semana.loc[0, "quantity"]

for i in range(1, len(ventas_semana)):
    ventas_semana.loc[i, "EMA1"] = (
        ventas_semana.loc[i, "quantity"] * alpha
        + ventas_semana.loc[i-1, "EMA1"] * (1 - alpha)
    )


# Imprimimos el DataFrame con la nueva columna EMA
ventas_semana

   date_invoice     quantity        EMA1
0    2024-09-08  24,579.0000 24,579.0000
1    2024-09-15  70,344.0000 33,732.0000
2    2024-09-22  63,892.0000 39,764.0000
3    2024-09-29  70,461.0000 45,903.4000
4    2024-10-06  68,427.0000 50,408.1200
5    2024-10-13 110,871.0000 62,500.6960
6    2024-10-20  56,124.0000 61,225.3568
7    2024-10-27  69,039.0000 62,788.0854
8    2024-11-03  69,075.0000 64,045.4684
9    2024-11-10  52,507.0000 61,737.7747
10   2024-11-17  52,281.0000 59,846.4197
11   2024-11-24  74,853.0000 62,847.7358
12   2024-12-01  79,398.0000 66,157.7886
13   2024-12-08  66,511.0000 66,228.4309
14   2024-12-15  61,101.0000 65,202.9447
15   2024-12-22  71,182.0000 66,398.7558
16   2024-12-29  32,535.0000 59,626.0046
17   2025-01-05  14,688.0000 50,638.4037
18   2025-01-12  51,120.0000 50,734.7230
19   2025-01-19  85,896.0000 57,766.9784
20   2025-01-26  55,972.0000 57,407.9827
21   2025-02-02  79,641.0000 61,854.5862
22   2025-02-09  85,609.0000 66,605.4689
23   2025-02-16  78,633.0000 69,010.9751
24   2025-02-23  71,523.0000 69,513.3801
25   2025-03-02  70,934.0000 69,797.5041
26   2025-03-09  66,528.0000 69,143.6033
27   2025-03-16  87,732.0000 72,861.2826
28   2025-03-23  72,621.0000 72,813.2261
29   2025-03-30  67,806.0000 71,811.7809
30   2025-04-06  68,346.0000 71,118.6247
31   2025-04-13  83,529.0000 73,600.6998
32   2025-04-20  30,861.0000 65,052.7598
33   2025-04-27  81,468.0000 68,335.8078
34   2025-05-04  67,338.0000 68,136.2463
35   2025-05-11  84,024.0000 71,313.7970
36   2025-05-18  85,158.0000 74,082.6376
37   2025-05-25  66,600.0000 72,586.1101
38   2025-06-01  60,993.0000 70,267.4881
39   2025-06-08  61,983.0000 68,610.5905
40   2025-06-15  77,409.0000 70,370.2724
41   2025-06-22  89,379.0000 74,172.0179
42   2025-06-29  48,861.0000 69,109.8143
43   2025-07-06  60,975.0000 67,482.8515
44   2025-07-13  74,214.0000 68,829.0812
45   2025-07-20  66,465.0000 68,356.2649
46   2025-07-27  90,234.0000 72,731.8119
47   2025-08-03  59,715.0000 70,128.4496
48   2025-08-10  56,565.0000 67,415.7596
49   2025-08-17  84,564.0000 70,845.4077
50   2025-08-24  57,141.0000 68,104.5262
51   2025-08-31  65,979.0000 67,679.4209
52   2025-09-07  36,351.0000 61,413.7368

In [119]:
alpha = 0.2
ventas_semana["EMA_custom"] = np.nan

# En la semana 16 tomamos 80% de EMA1[15] + 20% de quantity[15]
ventas_semana.loc[15, "EMA_custom"] = (
    0.8 * ventas_semana.loc[15, "EMA1"] +
    0.2 * ventas_semana.loc[15, "quantity"]
)

# Desde la semana 17 en adelante usamos EMA_custom
for i in range(16, len(ventas_semana)):
    ventas_semana.loc[i, "EMA_custom"] = (
        (1 - alpha) * ventas_semana.loc[i-1, "EMA_custom"]
        + alpha * ventas_semana.loc[i, "quantity"]
    )

In [121]:
ventas_semana

   date_invoice     quantity        EMA1  EMA_custom
0    2024-09-08  24,579.0000 24,579.0000         NaN
1    2024-09-15  70,344.0000 33,732.0000         NaN
2    2024-09-22  63,892.0000 39,764.0000         NaN
3    2024-09-29  70,461.0000 45,903.4000         NaN
4    2024-10-06  68,427.0000 50,408.1200         NaN
5    2024-10-13 110,871.0000 62,500.6960         NaN
6    2024-10-20  56,124.0000 61,225.3568         NaN
7    2024-10-27  69,039.0000 62,788.0854         NaN
8    2024-11-03  69,075.0000 64,045.4684         NaN
9    2024-11-10  52,507.0000 61,737.7747         NaN
10   2024-11-17  52,281.0000 59,846.4197         NaN
11   2024-11-24  74,853.0000 62,847.7358         NaN
12   2024-12-01  79,398.0000 66,157.7886         NaN
13   2024-12-08  66,511.0000 66,228.4309         NaN
14   2024-12-15  61,101.0000 65,202.9447         NaN
15   2024-12-22  71,182.0000 66,398.7558 67,355.4046
16   2024-12-29  32,535.0000 59,626.0046 60,391.3237
17   2025-01-05  14,688.0000 50,638.4037 51,250.6590
18   2025-01-12  51,120.0000 50,734.7230 51,224.5272
19   2025-01-19  85,896.0000 57,766.9784 58,158.8217
20   2025-01-26  55,972.0000 57,407.9827 57,721.4574
21   2025-02-02  79,641.0000 61,854.5862 62,105.3659
22   2025-02-09  85,609.0000 66,605.4689 66,806.0927
23   2025-02-16  78,633.0000 69,010.9751 69,171.4742
24   2025-02-23  71,523.0000 69,513.3801 69,641.7793
25   2025-03-02  70,934.0000 69,797.5041 69,900.2235
26   2025-03-09  66,528.0000 69,143.6033 69,225.7788
27   2025-03-16  87,732.0000 72,861.2826 72,927.0230
28   2025-03-23  72,621.0000 72,813.2261 72,865.8184
29   2025-03-30  67,806.0000 71,811.7809 71,853.8547
30   2025-04-06  68,346.0000 71,118.6247 71,152.2838
31   2025-04-13  83,529.0000 73,600.6998 73,627.6270
32   2025-04-20  30,861.0000 65,052.7598 65,074.3016
33   2025-04-27  81,468.0000 68,335.8078 68,353.0413
34   2025-05-04  67,338.0000 68,136.2463 68,150.0330
35   2025-05-11  84,024.0000 71,313.7970 71,324.8264
36   2025-05-18  85,158.0000 74,082.6376 74,091.4611
37   2025-05-25  66,600.0000 72,586.1101 72,593.1689
38   2025-06-01  60,993.0000 70,267.4881 70,273.1351
39   2025-06-08  61,983.0000 68,610.5905 68,615.1081
40   2025-06-15  77,409.0000 70,370.2724 70,373.8865
41   2025-06-22  89,379.0000 74,172.0179 74,174.9092
42   2025-06-29  48,861.0000 69,109.8143 69,112.1274
43   2025-07-06  60,975.0000 67,482.8515 67,484.7019
44   2025-07-13  74,214.0000 68,829.0812 68,830.5615
45   2025-07-20  66,465.0000 68,356.2649 68,357.4492
46   2025-07-27  90,234.0000 72,731.8119 72,732.7594
47   2025-08-03  59,715.0000 70,128.4496 70,129.2075
48   2025-08-10  56,565.0000 67,415.7596 67,416.3660
49   2025-08-17  84,564.0000 70,845.4077 70,845.8928
50   2025-08-24  57,141.0000 68,104.5262 68,104.9142
51   2025-08-31  65,979.0000 67,679.4209 67,679.7314
52   2025-09-07  36,351.0000 61,413.7368 61,413.9851