## MODELOS DISPONIBLES

In [1]:
#!/usr/bin/env python
import xmlrpc.client as xmlrpc 
import datetime as dt

ODOO_SERVER_USER = "juan.cano@donsson.com" #mi usuario 
ODOO_SERVER_PASSWORD = "1000285668" #mi contraseña de odoo 
ODOO_SERVER_URL = "https://donsson.com" #produccion url 
ODOO_SERVER_DATABASE = "Donsson_produccion" # 

###define los objetos del servidor#common: Establece la conexion#uid: Id del usuario en odoo#models: Modelos de odoo(tablas)
common = xmlrpc.ServerProxy("{}/xmlrpc/2/common".format(ODOO_SERVER_URL))
uid = common.authenticate(ODOO_SERVER_DATABASE, ODOO_SERVER_USER, ODOO_SERVER_PASSWORD, {})
models = xmlrpc.ServerProxy("{}/xmlrpc/2/object".format(ODOO_SERVER_URL))
l6m = (dt.datetime.today()-dt.timedelta(days=30)).strftime("%Y-%m-01 00:00:00") #1 meses antes desde hoy

#Consulta basica metodo search_read: Busca y lee la informacion
#Tabla ventas.perdidas(Esta tabla registra la causa de no venta por las cotizaciones y el punto de venta)
#filtrados por la variable l6m por el campo create_date(fecha de creacion).
#Extrae la informacion de las columnas 
#warehouse_id: id de la bodega en la tabla stock.warehouse(Almacenes)
#create_date: fecha de creacion(esta fecha es cuando se crea el registro en la base de datos )
#cliente_id: id del cliente en la tabla res.partner(Clientes)
#product_id: id del producto en la tabla product.template(Productos)
#cantidad: cantidad reportada(entero)
#cantidad_existencia:  cantidad en existencias en el momento de reporte(entero)
#cantidad_reservada: cantidad en reservas en el momento de reporte(entero)
#almacenamiento_tipo: Almacenamiento campo autocalculado en la cotizacion e ingresado desde el punto de venta (Agotado, En stock)

# Listar todos los modelos disponibles
modelos_disponibles = models.execute_kw(ODOO_SERVER_DATABASE, uid, ODOO_SERVER_PASSWORD,
    'ir.model', 'search_read',
    [[['model', 'ilike', 'cost']]],
    {'fields': ['model', 'name']}
)

for m in modelos_disponibles:
    print(m)

{'model': 'account.analytic.cost.ledger', 'id': 268, 'name': 'Account Analytic Cost Ledger'}
{'model': 'account.analytic.cost.ledger.journal.report', 'id': 269, 'name': 'Account Analytic Cost Ledger For Journal Report'}
{'model': 'cs.analisis.costo', 'id': 1088, 'name': 'Cadena de suministro analisis del nivel de servicio'}
{'model': 'fleet.vehicle.cost', 'id': 710, 'name': 'Cost related to a vehicle'}
{'model': 'mrp.bom.cost', 'id': 924, 'name': 'mrp.bom.cost'}
{'model': 'mrp.bom.cost.lines', 'id': 925, 'name': 'mrp.bom.cost.lines'}
{'model': 'mrp.costo.detallado', 'id': 1070, 'name': 'Costo detallado de la produccion'}
{'model': 'report.account.report_analyticcostledger', 'id': 263, 'name': 'report.account.report_analyticcostledger'}
{'model': 'report.account.report_analyticcostledgerquantity', 'id': 264, 'name': 'report.account.report_analyticcostledgerquantity'}
{'model': 'stock.landed.cost', 'id': 611, 'name': 'Stock Landed Cost'}
{'model': 'stock.landed.cost.lines', 'id': 612, 'name': 'Stock Landed Cost Lines'}

## EXTRAER COSTO INVENTARIO

### COLUMNAS ACTUALES

In [2]:
import xmlrpc.client
import pandas as pd

# Conexión con Odoo
username = "juan.cano@donsson.com"  # tu usuario
password = "1000285668"         # tu contraseña
url = "https://donsson.com"     # URL del servidor
db = "Donsson_produccion" # nombre de la base de datos

common = xmlrpc.client.ServerProxy(f"{url}/xmlrpc/2/common")
uid = common.authenticate(db, username, password, {})
models = xmlrpc.client.ServerProxy(f"{url}/xmlrpc/2/object")




fields_info = models.execute_kw(
    db, uid, password,
    'account.invoice.line',  # Nombre técnico del modelo
    'fields_get',
    []
)

# Convertir a DataFrame para visualizar mejor
df_campos = pd.DataFrame.from_dict(fields_info, orient='index')
df_campos

,sortable,help,searchable,required,manual,readonly,depends,groups,company_dependent,translate,type,store,string,relation,digits,related,domain,relation_field
origin,True,Reference of the document that produced this i...,True,False,False,False,[],False,False,False,char,True,Source Document,NaN,NaN,NaN,NaN,NaN
uos_id,True,NaN,True,False,False,False,[],False,False,NaN,many2one,True,Unit of Measure,product.uom,NaN,NaN,NaN,NaN
create_date,True,NaN,True,False,False,False,[],False,False,NaN,datetime,True,Created on,NaN,NaN,NaN,NaN,NaN
sequence,True,Gives the sequence of this line when displayin...,True,False,False,False,[],False,False,NaN,integer,True,Sequence,NaN,NaN,NaN,NaN,NaN
price_unit,True,NaN,True,True,False,False,[],False,False,NaN,float,True,Unit Price,NaN,"[16, 2]",NaN,NaN,NaN
price_subtotal,True,NaN,True,False,False,True,"[price_unit, discount, invoice_line_tax_id, qu...",False,False,NaN,float,True,Amount,NaN,"[16, 2]",NaN,NaN,NaN
write_uid,True,NaN,True,False,False,False,[],False,False,NaN,many2one,True,Last Updated by,res.users,NaN,NaN,NaN,NaN
partner_id,True,NaN,True,False,False,True,[invoice_id.partner_id],False,False,NaN,many2one,True,Partner,res.partner,NaN,"[invoice_id, partner_id]",NaN,NaN
id,True,NaN,True,False,False,True,[],False,False,NaN,integer,True,Id,NaN,NaN,NaN,NaN,NaN
create_uid,True,NaN,True,False,False,False,[],False,False,NaN,many2one,True,Created by,res.users,NaN,NaN,NaN,NaN
asset_category_id,True,NaN,True,False,False,False,[],False,False,NaN,many2one,True,Asset Category,account.asset.category,NaN,NaN,NaN,NaN
__last_update,False,NaN,False,False,False,True,"[create_date, write_date]",False,False,NaN,datetime,False,Last Modified on,NaN,NaN,NaN,NaN,NaN
product_cost,True,NaN,True,False,False,False,[],False,False,NaN,float,True,Costo producto,NaN,NaN,NaN,NaN,NaN
analytics_id,True,NaN,True,False,False,False,[],False,False,NaN,many2one,True,Analytic Distribution,account.analytic.plan.instance,NaN,NaN,NaN,NaN
company_id,True,NaN,True,False,False,True,[invoice_id.company_id],False,False,NaN,many2one,True,Company,res.company,NaN,"[invoice_id, company_id]",NaN,NaN
account_analytic_id,True,NaN,True,False,False,False,[],False,False,NaN,many2one,True,Analytic Account,account.analytic.account,NaN,NaN,NaN,NaN
purchase_line_id,True,NaN,True,False,False,True,[],False,False,NaN,many2one,True,Purchase Order Line,purchase.order.line,NaN,NaN,NaN,NaN
importacion,True,Número de la importación,True,False,False,False,[],False,False,NaN,many2one,True,Importación,foreign.trade,NaN,NaN,"[[state, =, open]]",NaN
account_id,True,The income or expense account related to the s...,True,True,False,False,[],False,False,NaN,many2one,True,Account,account.account,NaN,NaN,"[[type, not in, [view, closed]]]",NaN
invoice_line_tax_id,True,NaN,True,False,False,False,[],False,False,NaN,many2many,True,Taxes,account.tax,NaN,NaN,"[[parent_id, =, False]]",NaN
discount,True,NaN,True,False,False,False,[],False,False,NaN,float,True,Discount (%),NaN,"[16, 2]",NaN,NaN,NaN
move_line_ids,True,Related stock moves (only when the invoice has...,True,False,False,True,[],False,False,NaN,one2many,True,Related Stock Moves,stock.move,NaN,NaN,NaN,invoice_line_id
write_date,True,NaN,True,False,False,False,[],False,False,NaN,datetime,True,Last Updated on,NaN,NaN,NaN,NaN,NaN
display_name,False,NaN,False,False,False,True,[name],False,False,False,char,False,Display Name,NaN,NaN,NaN,NaN,NaN
product_id,True,NaN,True,False,False,False,[],False,False,NaN,many2one,True,Product,product.product,NaN,NaN,NaN,NaN
name,True,NaN,True,True,False,False,[],False,False,False,text,True,Description,NaN,NaN,NaN,NaN,NaN
invoice_id,True,NaN,True,False,False,False,[],False,False,NaN,many2one,True,Invoice Reference,account.invoice,NaN,NaN,NaN,NaN
quantity,True,NaN,True,True,False,False,[],False,False,NaN,float,True,Quantity,NaN,"[16, 3]",NaN,NaN,NaN

### CARGA DATAFRAME UNIDO

In [3]:
import xmlrpc.client
import pandas as pd

# Conexión
username = "juan.cano@donsson.com"
password = "1000285668"
url = "https://donsson.com"
db = "Donsson_produccion"

common = xmlrpc.client.ServerProxy(f"{url}/xmlrpc/2/common")
uid = common.authenticate(db, username, password, {})
models = xmlrpc.client.ServerProxy(f"{url}/xmlrpc/2/object")

# Campos a extraer
campos = [
    'producto_code',
    'almacen_id',
    'producto_costo_unitario',
    'clasificacion',
    'inventario_ideal',
    'producto_marca',
    'producto_code',
    'semana',
    'stock_actual',
    'product_name',
    'ano'
]

# Extraer en bloques
df_total = pd.DataFrame()
batch_size = 20000
offset = 0

while True:
    print(f"Cargando registros desde offset {offset}...")
    registros = models.execute_kw(
        db, uid, password,
        'cs.analisis.costo', 'search_read',
        [[]],  # Sin filtro de ciudad
        {'fields': campos, 'limit': batch_size, 'offset': offset}
    )
    
    if not registros:
        break

    df_parcial = pd.DataFrame(registros)
    df_total = pd.concat([df_total, df_parcial], ignore_index=True)
    offset += batch_size

    #demora en cargar aprox 30 seg

Cargando registros desde offset 0...
Cargando registros desde offset 20000...
Cargando registros desde offset 40000...
Cargando registros desde offset 60000...

### EXPORTAR DATAFRAME

In [4]:
df_total.sample(10)

,ano,producto_costo_unitario,clasificacion,product_name,stock_actual,semana,producto_marca,almacen_id,producto_code,inventario_ideal,id
16440,2025,0.00,C,DRT2000R034,0,36,TEKCOOL,"[58, CALI]",034 2000R-55GL,0,1612645
6045,2025,11280.17,C,DCE00906139,0,36,OTROS,"[36, ANTIOQUEÑA DE LUBRICANTES SGP SAS]",139 G906,0,1602250
6405,2025,27081.24,C,BAC00141125,0,36,BALDWIN,"[36, ANTIOQUEÑA DE LUBRICANTES SGP SAS]",125 PA3823,0,1602610
26886,2025,7622.74,C,DAC00035189,0,36,AUT*PARTS,"[2, CALLE 6]",189 ALC5325,0,1623091
43256,2025,1.00,C,DHE00765024,0,36,OTROS,"[4, NORTE]",024 SFH30171,0,1639461
5457,2025,14108.00,C,DAE01130122,0,36,OTROS,"[36, ANTIOQUEÑA DE LUBRICANTES SGP SAS]",122 GA1130,0,1601662
13985,2025,14600.00,C,DAR03080025,0,36,DONSSON,"[5, MEDELLIN]",025 DA3080,1,1610190
22389,2025,8739.47,C,BLE00383125,0,36,BALDWIN,"[47, MOSTRADOR COTA]",125 PT512,0,1618594
3682,2025,19735.00,C,BWS20078125,0,36,BALDWIN,"[39, BARRANQUILLA]",125 BW5074,1,1599887
11609,2025,87993.50,C,BAE02276125,0,36,BALDWIN,"[5, MEDELLIN]",125 PA2453,0,1607814

In [5]:
# Asegurarte de que todos los valores sean strings simples
df_total['sucursal_nombre'] = df_total['almacen_id'].apply(lambda x: x[1] if isinstance(x, list) and len(x) > 1 else None)
df_total = df_total.drop(columns=['almacen_id', 'id'])
df_total =  df_total[['sucursal_nombre','producto_marca','product_name','producto_code','clasificacion','stock_actual','inventario_ideal','producto_costo_unitario','semana','ano']]

# Exportar

semana_unica = df_total["semana"].unique()

# Validación
if len(semana_unica) != 1:
    raise ValueError(f"Hay más de una semana en los datos: {semana_unica}")

n_semana = int(semana_unica[0])

# Guardar el archivo con el nombre de la semana
ruta_guardado = f'dataset/Entrada/df_completo_semana{n_semana}.csv'
df_total.to_csv(ruta_guardado, index=False)
print(f"Archivo guardado en: {ruta_guardado}")

Archivo guardado en: dataset/Entrada/df_completo_semana36.csv

In [6]:
# Ahora sí agrupar
agrupado = df_total.groupby('sucursal_nombre')['stock_actual'].sum().reset_index()
agrupado = agrupado.sort_values(by='stock_actual', ascending=False)
print(agrupado)

                     sucursal_nombre  stock_actual
8                         VALLADOLID         39071
5                           MEDELLIN         21192
1                       BARRANQUILLA         21064
2                        BUCARAMANGA         19019
3                               CALI         14003
4                            CALLE 6         11021
7                              NORTE          6306
6                     MOSTRADOR COTA          4432
0  ANTIOQUEÑA DE LUBRICANTES SGP SAS          1026